* {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: rgba(0,0,0,.8);
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	list-style: none;
	border-style: none;
}

body {
	background-color: #3d9ce0;
}
/*header*/
header {
	background-color: salmon;
	margin: 50px auto;
	text-align: center;
}

header #judul {
	font-size: 70px;
}

header p {
	margin: 10px auto;
}

header p:target {
	color: salmon;
}

/*main*/
main {
	margin: auto;
	width: 400px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	/*background-color: red;*/
}

/*main inputkegiatan*/
main #inputKegiatan {
	margin: auto 10px;
	width: 300px;
	padding: 10px;
}

/*penutup main kegiatan*/
/*main tombolOk*/
main #tombolOk {
	margin: auto 10px;
	padding: 5px;
	box-sizing: border-box;
	width: 60px;
	background-color: #36f585;
	border-radius: 8px;
}

main #tombolOk img {
	width: 25px;
	margin-top: 5px;
}
/*penutup maintombolOk*/
/*penutup main*/

/*section kegiatan*/
section {
	width: 400px;
	margin: 20px auto;
	/*background-color: salmon;*/
	box-sizing: border-box;
}

section ul{
	/*background-color: green;*/
	width: 300px;
	margin: auto;
	margin-left: 10px;
}

section ul .aktivitas  {
	background-color: orange;
	margin: 0px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
}

section ul .aktivitasToggle  {
	background-color: #84ed5a;
	margin: 0px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	transition: .3s;
}

section ul .aktivitas span {
	width: 300px;
	display: block;
	margin-left: 0px;
	/*background-color: salmon;*/
}

section ul .aktivitas img {
	margin-right: 0px;
	width: 26px;
	/*background-color: red;*/
}
/*penutup section kegiatan*/