* {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: rgba(0,0,0,.8);
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	list-style: none;
	border-style: none;
}

body {
/*	background-color: #3d9ce0;
*/	background-color: #7289da;
}

/*	background-color: salmon;
*/

/*header*/
header {
/*	background-color:#45de71;
*/	background-color: #7289da;
	margin: auto;
	text-align: center;
	padding: 20px;
}

header #judul {
	font-size: 70px;
}

header #slogan {
	font-size: 22px;	
}

/*petunjuk*/
header .petunjuk {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

header p {
	margin: auto;
}

header #desc {
	font-size: 12px;
}

header #desc a {
	font-size: 12px;
}

#warning {
	display: block;
	background-color: #ffcc00;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#warning p {
	font-size: 10px;
	text-align: center;
}

/*penutup petunjuk*/

h3 {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 18px;
	text-align: center;
}

/*beri judul*/
/*main*/
#mainTemaWrapper {
	display: block;
}

#mainTemaWrapper #temaWrapper {
	margin: auto;
	width: 400px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin-bottom: 20px;
	/*background-color: red;*/	
}

/*main inputkegiatan*/
#temaWrapper #inputTema {
	margin: auto 10px;
	width: 300px;
	padding: 10px;
}

/*penutup main kegiatan*/
/*main tombolOk*/
#temaWrapper #beriJudul {
	margin: auto 10px;
	padding: 5px;
	box-sizing: border-box;
	width: 60px;
	background-color: #36f585;
	border-radius: 8px;
}

#temaWrapper #beriJudul img {
	width: 25px;
	margin-top: 5px;
}
/*penutup maintombolOk*/
/*responsive input JUDUL kegiatan*/
@media only screen and (max-width: 430px){
	/*beri judul*/
	/*main*/
	#mainTemaWrapper {
		display: block;
	}

	#mainTemaWrapper #temaWrapper {
		margin: auto;
		width: 400px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	#temaWrapper #inputTema {
		margin: auto;
		width: 270px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	#temaWrapper #beriJudul {
		margin: auto;
		padding: 5px;
		box-sizing: border-box;
		width: 50px;
		background-color: #36f585;
		border-radius: 8px;
	}

	#temaWrapper #beriJudul img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup beri judul*/
}

@media only screen and (max-width: 400px){
	/*beri judul*/
	/*main*/
	#mainTemaWrapper {
		display: block;
	}

	#mainTemaWrapper #temaWrapper {
		margin: auto;
		width: 380px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	#temaWrapper #inputTema {
		margin: auto;
		width: 270px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	#temaWrapper #beriJudul {
		margin: auto;
		padding: 5px;
		box-sizing: border-box;
		width: 50px;
		background-color: #36f585;
		border-radius: 8px;
	}

	#temaWrapper #beriJudul img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup beri judul*/
}

@media only screen and (max-width: 390px){
	/*beri judul*/
	/*main*/
	#mainTemaWrapper {
		display: block;
	}

	#mainTemaWrapper #temaWrapper {
		margin: auto;
		width: 340px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	#temaWrapper #inputTema {
		margin: auto;
		width: 220px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	#temaWrapper #beriJudul {
		margin: auto;
		margin-left: 0;
		padding: 5px;
		box-sizing: border-box;
		width: 40px;
		background-color: #36f585;
		border-radius: 8px;
	}

	#temaWrapper #beriJudul img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup beri judul*/
}

@media only screen and (max-width: 350px){
	/*beri judul*/
	/*main*/
	#mainTemaWrapper {
		display: block;
	}

	#mainTemaWrapper #temaWrapper {
		margin: auto;
		width: 300px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	#temaWrapper #inputTema {
		margin: auto;
		width: 220px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	#temaWrapper #beriJudul {
		margin: auto;
		margin-left: 0;
		padding: 5px;
		box-sizing: border-box;
		width: 40px;
		background-color: #36f585;
		border-radius: 8px;
	}

	#temaWrapper #beriJudul img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup beri judul*/
}

@media only screen and (max-width: 320px){
	/*beri judul*/
	/*main*/
	#mainTemaWrapper {
		display: block;
		margin: auto;
	}

	#mainTemaWrapper #temaWrapper {
		margin: auto;
		width: 250px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	#temaWrapper #inputTema {
		margin: auto;
		width: 150px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	#temaWrapper #beriJudul {
		margin: auto;
		margin-left: 0;
		padding: 5px;
		box-sizing: border-box;
		width: 40px;
		background-color: #36f585;
		border-radius: 8px;
	}

	#temaWrapper #beriJudul img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup beri judul*/
}

/*penutup responsive JUDUL kegiatan*/
/*penutup beri judul*/

/*input kegiatan*/
/*main*/
main {
	margin: auto;
	width: 400px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	/*background-color: red;*/
}

/*main inputkegiatan*/
main #inputKegiatan {
	margin: auto 10px;
	width: 300px;
	padding: 10px;
}

/*penutup main kegiatan*/
/*main tombolOk*/
main #tombolOk {
	margin: auto 10px;
	padding: 5px;
	box-sizing: border-box;
	width: 60px;
	background-color: #36f585;
	border-radius: 8px;
}

main #tombolOk img {
	width: 25px;
	margin-top: 5px;
}
/*penutup maintombolOk*/
/*penutup main*/


/*section kegiatan*/
section {
	width: 400px;
	margin: 20px auto;
	/*background-color:#45de71;*/
	box-sizing: border-box;
}

section ul{
	/*background-color: green;*/
	width: 300px;
	margin: auto;
	margin-left: 10px;
}

section ul .aktivitas  {
	background-color: orange;
	margin: 0px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	transition: .3s;
}

section ul .aktivitasToggle  {
	background-color: #84ed5a;
	margin: 0px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	transition: .3s;
}

section ul .aktivitas span {
	width: 300px;
	display: block;
	margin-left: 0px;
	/*background-color:#45de71;*/
}

section ul .aktivitas .gambarStatus{
	width: 32px;
	background-image: url(assets/img/removeicon.png);
	background-size: cover;
	background-repeat: no-repeat;
}

section ul .aktivitas .gambarStatusToggle{
	width: 32px;
	background-image: url(assets/img/centang.png);
	background-size: cover;
	background-repeat: no-repeat;
}

/*respponsive input kegiatan dan responsive #sectionparent*/
@media only screen and (max-width: 430px){
	/*header*/
	header {
		background-color:#45de71;
		margin: auto;
		text-align: center;
		padding: 20px;
	}

	header #judul {
		font-size: 70px;
	}

	header p {
		margin: auto;
	}

	header #desc {
		font-size: 10px;
	}

	/*main*/
	main {
		margin: auto;
		width: 400px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	main #inputKegiatan {
		margin: auto;
		width: 270px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	main #tombolOk {
		margin: auto;
		padding: 5px;
		box-sizing: border-box;
		width: 50px;
		background-color: #36f585;
		border-radius: 8px;
	}

	main #tombolOk img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup main*/

	/*section kegiatan*/
	section {
		width: 400px;
		margin: 20px auto;
		/*background-color:#45de71;*/
		box-sizing: border-box;
	}

	section ul{
		/*background-color: green;*/
		width: 300px;
		margin: auto;
		margin-left: 10px;
	}

	section ul .aktivitas  {
		background-color: orange;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitasToggle  {
		background-color: #84ed5a;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitas span {
		width: 300px;
		display: block;
		margin-left: 0px;
		/*background-color:#45de71;*/
	}

	/*section ul .aktivitas img {
		margin-right: 0px;
		width: 26px;
		background-color: red;
	}*/
}

@media only screen and (max-width: 400px){
	/*header*/
	header {
		background-color:#45de71;
		margin: auto;
		text-align: center;
		padding: 20px;
	}

	header #judul {
		font-size: 70px;
	}

	header p {
		margin: auto;
	}

	header #desc {
		font-size: 10px;
	}

	/*main*/
	main {
		margin: auto;
		width: 380px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	main #inputKegiatan {
		margin: auto;
		width: 270px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	main #tombolOk {
		margin: auto;
		padding: 5px;
		box-sizing: border-box;
		width: 50px;
		background-color: #36f585;
		border-radius: 8px;
	}

	main #tombolOk img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup main*/

	/*section kegiatan*/
	section {
		width: 400px;
		margin: 20px auto;
		/*background-color:#45de71;*/
		box-sizing: border-box;
	}

	section ul{
		/*background-color: green;*/
		width: 300px;
		margin: auto;
	}

	section ul .aktivitas  {
		background-color: orange;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitasToggle  {
		background-color: #84ed5a;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitas span {
		width: 300px;
		display: block;
		margin-left: 0px;
		/*background-color:#45de71;*/
	}

	/*section ul .aktivitas img {
		margin-right: 0px;
		width: 26px;
		background-color: red;
	}*/
}

@media only screen and (max-width: 390px){
	/*h*/
	header {
		background-color:#45de71;
		margin: auto;
		text-align: center;
		padding: 20px;
	}

	header #judul {
		font-size: 50px;
	}

	header p {
		margin: auto;
	}

	header #desc {
		font-size: 10px;
	}

	/*main*/
	main {
		margin: auto;
		width: 340px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	main #inputKegiatan {
		margin: auto;
		width: 220px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	main #tombolOk {
		margin: auto;
		margin-left: 0;
		padding: 5px;
		box-sizing: border-box;
		width: 40px;
		background-color: #36f585;
		border-radius: 8px;
	}

	main #tombolOk img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup main*/

	/*section kegiatan*/
	section {
		width: 350px;
		margin: 20px auto;
		/*background-color:#45de71;*/
		box-sizing: border-box;
	}

	section ul{
		/*background-color: green;*/
		width: 300px;
		margin: auto;
	}

	section ul .aktivitas  {
		background-color: orange;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitasToggle  {
		background-color: #84ed5a;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitas span {
		width: 300px;
		display: block;
		margin-left: 0px;
		/*background-color:#45de71;*/
	}

	/*section ul .aktivitas img {
		margin-right: 0px;
		width: 26px;
		background-color: red;
	}*/
}

@media only screen and (max-width: 350px){
	/*header*/
	header {
		background-color:#45de71;
		margin: auto;
		text-align: center;
		padding: 20px;
	}

	header #judul {
		font-size: 50px;
	}

	header p {
		margin: auto;
	}

	header #desc {
		font-size: 10px;
	}

	/*main*/
	main {
		margin: auto;
		width: 300px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	main #inputKegiatan {
		margin: auto;
		width: 220px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	main #tombolOk {
		margin: auto;
		margin-left: 0;
		padding: 5px;
		box-sizing: border-box;
		width: 40px;
		background-color: #36f585;
		border-radius: 8px;
	}

	main #tombolOk img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup main*/

	/*section kegiatan*/
	section {
		width: 300px;
		margin: 20px auto;
		/*background-color:#45de71;*/
		box-sizing: border-box;
	}

	section ul{
		/*background-color: green;*/
		width: 300px;
		margin: auto;
	}

	section ul .aktivitas  {
		background-color: orange;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitasToggle  {
		background-color: #84ed5a;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitas span {
		width: 300px;
		display: block;
		margin-left: 0px;
		/*background-color:#45de71;*/
	}

	/*section ul .aktivitas img {
		margin-right: 0px;
		width: 26px;
		background-color: red;
	}*/
}

@media only screen and (max-width: 320px){
	/*header*/
	header {
		background-color:#45de71;
		margin: auto;
		text-align: center;
		padding: 20px;
	}

	header #judul {
		font-size: 50px;
	}

	header p {
		margin: auto;
	}

	header #desc {
		font-size: 10px;
	}

	/*main*/
	main {
		margin: auto;
		width: 250px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		/*background-color: red;*/
		overflow: hidden;
	}

	/*main inputkegiatan*/
	main #inputKegiatan {
		margin: auto;
		width: 150px;
		padding: 10px;
	}

	/*penutup main kegiatan*/
	/*main tombolOk*/
	main #tombolOk {
		margin: auto;
		margin-left: 0;
		padding: 5px;
		box-sizing: border-box;
		width: 40px;
		background-color: #36f585;
		border-radius: 8px;
	}

	main #tombolOk img {
		width: 25px;
		margin-top: 5px;
	}
	/*penutup maintombolOk*/
	/*penutup main*/

	/*section kegiatan*/
	section {
		width: 250px;
		margin: 20px auto;
		/*background-color:#45de71;*/
		box-sizing: border-box;
	}

	section ul{
		/*background-color: green;*/
		width: 250px;
		margin: auto;
	}

	section ul .aktivitas  {
		background-color: orange;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitasToggle  {
		background-color: #84ed5a;
		margin: 0px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		transition: .3s;
	}

	section ul .aktivitas span {
		width: 300px;
		display: block;
		margin-left: 0px;
		/*background-color:#45de71;*/
	}

	section ul .aktivitas .gambarStatus{
		width: 40px;
		
		background-image: url(assets/img/removeicon.png);
		background-size: cover;
		background-repeat: no-repeat;
	}

	section ul .aktivitas .gambarStatusToggle{
		width: 40px;
		background-image: url(assets/img/centang.png);
		background-size: cover;
		background-repeat: no-repeat;
	}

	/*section ul .aktivitas img {
		margin-right: 0px;
		width: 26px;
		background-color: red;
	}*/
}
/*penutup responsice input kegiatan*/
/*penutup section kegiatan*/

/*footer*/
footer {
	padding: 15px;
}

footer ul {
	text-align: center;
}

footer ul li {
	display: inline-block;
}

footer ul li a {
	text-decoration: none;
}

footer ul li a img {
	width: 11px;
	margin-right: 2px;
}

footer ul li a span {
	font-size: 13px;
}

footer #copyrightWrapper {
	display: block;
	margin-top: 100px;
}

footer #copyrightWrapper h5{
	/*background-color: red;*/
	text-align: center;
	font-size: 13px;
}

footer #footerDetail {
	display: block;
	margin: 0;
	/*background-color: green;*/
	text-align: center;
	/*margin-top: 100px;*/
}
/*penutup footer*/

@media only screen and (max-width: 430px){
	/*footer*/
	footer {
		padding: 15px;
	}

	footer ul {
		text-align: center;
	}

	footer ul li {
		display: inline-block;
	}

	footer ul li a {
		text-decoration: none;
	}

	footer ul li a img {
		width: 11px;
		margin-right: 2px;
	}

	footer ul li a span {
		font-size: 13px;
		display: none;
	}

	footer #copyrightWrapper {
		display: block;
	}

	footer #copyrightWrapper h5{
		/*background-color: red;*/
		text-align: center;
		font-size: 13px;
	}

	footer #footerDetail {
		display: block;
		margin: 0;
	/*	background-color: green;
	*/	text-align: center;
		/*margin-top: 100px;*/
	}
	/*penutup footer*/
}

/*semua code diatas diabuat oleh akbar angkasa, instagram: @angkasa_akbar github:https://github.com/abay-2002 website: akbarangkasa.com*/